@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    background-color: black;
    color: rgba(214, 214, 214, 0.991);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(213, 17, 17);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(190, 24, 24);
    border-radius: 10px;
  }
section {
    max-width: 1280px;
}

.container {
    margin: auto;
    padding-left: 4rem;
    padding-right: 4rem;
}

.text {
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text h1 {
    font-size: 3rem;
}

.text p {
    margin-top: 2rem;
    font-size: 1.3rem;
}

.background {
    background-image: url('images/bg-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
    height: 30rem;
}

#cont-1-btn {
    border: 2px solid rgb(216, 214, 214);
    width: 12rem;
    height: 2.5rem;
    margin-top: 6rem;
}
/*About us section*/
.container-about{
    padding-top: 8rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin: auto;
}
.cont-about{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cont-about h1{
    font-size: 40px;
    font-weight: 500;
}
.cont-about-1 p{
    font-size: 18px;
}
.container-about div:nth-child(2){
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.cont-about-1{
    width: 50%;
}
.cont-about img{
    border-radius: 5px;
    margin-top: 1.8rem;
    width: 27rem;
    height: 19rem;
}
/* container -2 css*/
.container-2 {
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-top: 8rem;
    padding-left: 4rem;
    padding-right: 4rem;
    flex-wrap: wrap;
}

.cont-2 {
    width: 50%;
}

.container-2 div:first-child {
    position: relative;
}

.cont-2-images {
    width: 15rem;
    height: 12rem;
    border-radius: 5px;
}

.cont-2-image {
    width: 12rem;
    height: 10rem;
    border-radius: 5px;
}

#cont-2-1 {
    position: absolute;
    top: 1rem;
    bottom: 0rem;
    right: 0rem;
    left: 0rem;
}

#cont-2-2 {
    position: absolute;
    top: 9rem;
    bottom: 0rem;
    right: 0rem;
    left: 10rem;
    height: 12rem;
}

#cont-2-3 {
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    right: 0rem;
    left: 19rem;
}

.cont-2-block p {
    font-size: 19px;
}

/*container-3 css*/
.container-3 {
    padding-top: 8rem;
    width: 93%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1280px;
}

.container-3 h1 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.cont-3 {
    width: 100%;
    margin-bottom: 2rem;
}

.cont-3-1 {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
}

.cont-3-items {
    text-align: left;
    margin-right: 1.2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    width: 30%;
    align-items: center;
}
.cont-3-items h3{
    font-size: 24px;
    font-weight: 400;
}
.cont-3-items p {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 19px;
}

.cont-3-p {
    font-weight: bold;
    font-size: 1.3rem;
    display: inline-block;
    background-color: rgba(220, 20, 20, 0.872);
    padding: 10px;
    border-radius: 50%;
}

.container-4 {
    padding-top: 8rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.container-4 h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.container-4 p {
    font-size: 1.2rem;
}

#cont-4-1 {
    width: 60%;
    margin-bottom: 2.5rem;
}

.cont-4-directors {
    display: flex;
    flex-direction: column;
}

.cont-4-dir {
    display: flex;
    justify-content: center;
}

.cont-4-items {
    margin: 20px;
}

.cont-4-directors img {
    width: 15rem;
    height: 10rem;
    margin-bottom: 0.8rem;
    border-radius: 5px;
}

.cont-4-in {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.cont-4-in i {
    font-size: 1.4rem;
    margin-top: 5px;
}

.cont-4-p1 {
    font-size: 1.2rem;
    font-weight: 500;
}

.cont-4-in p {
    margin-bottom: 5px;
}

/*container 5 css*/
.container-5 {
    padding-top: 8rem;
    max-width: 1400px;
    width: 93%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.cont-5-directors {
    display: flex;
    flex-wrap: wrap;
}

.cont-5-items {
    margin: 20px;
}

.cont-5-items img {
    width: 15rem;
    height: 10rem;
    margin-bottom: 0.8rem;
}

/*container-6 css*/
.container-6 {
    display: flex;
    flex-direction: row;
    padding-top: 8rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.container-6 div:first-child{
    width: 55%;
}
.container-6 .cont-6-items:first-child p:nth-child(1) {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 2rem;
}

.container-6 .cont-6-items:first-child p:nth-child(2) {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 2rem;
}

.container-6 .cont-6-items:first-child p:nth-child(3) {
    font-size: 19px;
    font-weight: 200;
    margin-bottom: 2rem;
}

.cont-6-items button {
    font-size: 1rem;
    border: 2px solid rgb(229, 229, 229);
    background-color: none;
    height: 2.8rem;
    width: 14rem;
}

.cont-6-items button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

#cont-6-relative {
    display: block;
    position: relative;
    margin-right: 26rem;
}

.cont-6-items img {
    position: absolute;
    border-radius: 5px;
}

.cont-6-items img:nth-child(1) {
    width: 20rem;
    height: 16rem;
    top: -8.4rem;
    right: -17rem;
}

.cont-6-items img:nth-child(2) {
    width: 15rem;
    height: 17rem;
    left: 176px;
    right: 0;
    top: -10rem;
    bottom: 0px;
}

.cont-6-items img:nth-child(3) {
    width: 20rem;
    height: 11rem;
    left: 43px;
    right: 0px;
    top: 24px;
    bottom: 0px;
}
/*container csr*/
.container-csr{
    padding-top: 8rem;
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    align-items: center;

}
#cont-csr-relative {
    display: block;
    position: relative;
}
.cont-csr-items{
    width: 65%;
}
.container-csr .cont-csr-items:nth-child(2) p:nth-child(1) {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 3rem;
}

.container-csr .cont-csr-items:nth-child(2) p:nth-child(2) {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 3rem;
}

.container-csr .cont-csr-items:nth-child(2) p:nth-child(3) {
    font-size: 19px;
    margin-bottom: 3rem;
}
.cont-csr-items img{
border-radius: 5px;
}
.cont-csr-items img:nth-child(1){
    width: 22rem;
    height: 18.5rem;
    position: absolute;
    bottom: -5rem;
    left: 0rem;
}
.cont-csr-items img:nth-child(2){
    width: 16rem;
    height: 17rem;
    position: absolute;
    top: -15rem;
    left: 12rem;

}
.cont-csr-items img:nth-child(3){
    width: 21rem;
    height: 14rem;
    position: absolute;
    top: 0rem;
    left: 4rem;
}
/*Container 7 css*/
.container-7 {
    padding-top: 8rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin: auto;
    text-align: center;
    transition: 1s;
}

.accordion-cont-7 {
    position: relative;
    overflow: hidden;
    height: 14rem;
    transition: 0.5s;
}

.cont-7 {
    margin: auto;
    width: 90%;
    text-align: center;
}

.cont-7 h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.cont-7 p {
    font-size: 1.2rem;
}

.accordion-cont-7 img {
    transition: 0.5s;
    width: 11rem;
    height: 8rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

@media only screen and (max-width:1253px) {

    .cont-2-images {
        width: 12rem;
        height: 10rem;
        border-radius: 5px;
    }

    .cont-2-image {
        width: 10rem;
        height: 10rem;
        border-radius: 5px;
    }

    #cont-2-1 {
        position: absolute;
        top: 0rem;
        bottom: 0rem;
        right: 0rem;
        left: 0rem;
    }

    #cont-2-2 {
        position: absolute;
        top: 6rem;
        bottom: 0rem;
        right: 0rem;
        left: 9rem;
        height: 13rem;
    }

    #cont-2-3 {
        position: absolute;
        top: 1rem;
        bottom: 0rem;
        right: 0rem;
        left: 17rem;
    }

    .cont-3-1 {
        justify-content: center;
    }

    .cont-4-dir {
        flex-wrap: wrap;
    }

    .cont-5-directors {
        justify-content: center;
        align-items: center;
    }

    .cont-6-items img:nth-child(1) {
        width: 14rem;
        height: 14rem;
        left: 0;
        right: 0;
        top: -165px;
        bottom: 0;
    }

    .cont-6-items img:nth-child(2) {
        width: 12rem;
        height: 16rem;
        left: 208px;
        right: 0;
        top: -207px;
        bottom: 0px;
    }

    .cont-6-items img:nth-child(3) {
        width: 15rem;
        height: 10rem;
        left: 70px;
        right: 0px;
        top: 45px;
        bottom: 0px;
    }

    .cont-7-buttons {
        margin-left: auto;
    }
}

@media only screen and (max-width:1218px) {
    .container-6 {
        flex-direction: column;
    }
    .container-6 div:first-child{
        width: 80%;
    }
    .cont-6-items {
        margin-bottom: 14rem;
    }

    .cont-6-items img:nth-child(1) {
        width: 16rem;
        height: 14rem;
        left: 0;
        right: 0;
        top: -59px;
        bottom: 0;
    }

    .cont-6-items img:nth-child(2) {
        width: 13rem;
        height: 15rem;
        left: 235px;
        right: 0;
        top: -95px;
        bottom: 0px;
    }

    .cont-6-items img:nth-child(3) {
        width: 17rem;
        height: 10rem;
        left: 70px;
        right: 0px;
        top: 139px;
        bottom: 0px;
    }
}
@media only screen and (max-width: 1050px){
    .cont-csr-items img:nth-child(1){
        width: 19rem;
        height: 15.5rem;
        position: absolute;
        bottom: -5rem;
        left: 0rem;
    }
    .cont-csr-items img:nth-child(2){
        width: 15rem;
        height: 14rem;
        position: absolute;
        top: -12rem;
        left: 11rem;
    
    }
    .cont-csr-items img:nth-child(3){
        width: 18rem;
        height: 12rem;
        position: absolute;
        top: 0rem;
        left: 3rem;
    }
    
}
@media only screen and (max-width:1000px) {
    .cont-about-1{
        width: 80%;
    }
    .cont-about-1 p{
        font-size: 15px;
    }
    .cont-about img{
        margin-top: 2rem;
        width: 20rem;
        height: 15rem;
    }
    .cont-2-images {
        width: 13rem;
        height: 8rem;
        border-radius: 5px;
    }
    
    .cont-2-image {
        width: 10rem;
        height: 10rem;
        border-radius: 5px;
    }

    #cont-2-1 {
        top: 0rem;
        bottom: 0rem;
        right: 0rem;
        left: 0rem;
    }

    #cont-2-2 {
        top: 6rem;
        bottom: 0rem;
        right: 0rem;
        left: 7rem;
        height: 10rem;
    }

    #cont-2-3 {
        top: 0rem;
        bottom: 0rem;
        right: 0rem;
        left: 15rem;
    }
    .container-csr{
        flex-direction: column;
    }
    #cont-csr-relative{
        margin-top: 15rem;
        margin-bottom: 15rem;
        margin-left: 1vw;
    }
    .cont-csr-items{
        width: 80%;
    }
}

@media only screen and (max-width:895px) {
    .container-2 {
        flex-direction: column;
    }

    .cont-2 {
        width: auto;
    }

    .container-2 {
        justify-content: center;
        align-items: center;
    }

    #cont-2-content {
        margin-top: 18rem;
    }

    #cont-2-1 {
        width: 16rem;
        height: 10rem;
        top: 0rem;
        bottom: 0rem;
        right: 0rem;
        left: -18rem;
    }

    #cont-2-2 {
        width: 16rem;
        top: 6rem;
        bottom: 0rem;
        right: 0rem;
        left: -9rem;
        height: 10rem;
    }

    #cont-2-3 {
        width: 17rem;
        height: 11rem;
        top: -2rem;
        bottom: 0rem;
        right: 0rem;
        left: 2rem;
    }

}

@media only screen and (max-width:640px) {
    #cont-2-1 {
        width: 12rem;
        height: 10rem;
        top: 0rem;
        bottom: 0rem;
        right: 0rem;
        left: -15rem;
    }

    #cont-2-2 {
        width: 11rem;
        top: 6rem;
        bottom: 0rem;
        right: 0rem;
        left: -9rem;
        height: 10rem;
    }

    #cont-2-3 {
        width: 12rem;
        height: 11rem;
        top: -2rem;
        bottom: 0rem;
        right: 0rem;
        left: 0rem;
    }
    .cont-3-items{
        width: 40%;
    }
}

@media only screen and (max-width:590px) {
    .text {
        margin: 2rem;
    }

    .text h1 {
        font-size: 1.8rem;
    }

    .text p {
        font-size: 1.1rem;
    }

    .cont-6-items img:nth-child(1) {
        width: 12rem;
        height: 14rem;
        left: 0;
        right: 0;
        top: -59px;
        bottom: 0;
    }

    .cont-6-items img:nth-child(2) {
        width: 12rem;
        height: 15rem;
        left: 188px;
        right: 0;
        top: -95px;
        bottom: 0px;
    }

    .cont-6-items img:nth-child(3) {
        width: 17rem;
        height: 10rem;
        left: 70px;
        right: 0px;
        top: 139px;
        bottom: 0px;
    }
    #cont-csr-relative{
        margin-top: 15rem;
        margin-bottom: 15rem;
        margin-left: 1vw;
    }
    .cont-csr-items{
        width: 90%;
    }
    .cont-csr-items img:nth-child(1) {
        width: 18rem;
        height: 12.5rem;
        position: absolute;
        bottom: -5rem;
        left: -1rem;
    }
    .cont-csr-items img:nth-child(2) {
        width: 15rem;
    height: 12rem;
    position: absolute;
    top: -10rem;
    left: 9rem;
    }
    .cont-csr-items img:nth-child(3) {
        width: 17rem;
        height: 11rem;
        position: absolute;
        top: 0rem;
        left: 3rem;
    }

}
@media only screen and (max-width:484px){
    #cont-csr-relative{
        margin-top: 15rem;
        margin-bottom: 15rem;
        margin-left: -6vw;
    }
    .cont-csr-items{
        width: 90%;
    }
    .cont-csr-items img:nth-child(1) {
        width: 13rem;
    height: 10.5rem;
    position: absolute;
    bottom: -5rem;
    left: -1rem;
    }
    .cont-csr-items img:nth-child(2) {
        width: 13rem;
        height: 10rem;
        position: absolute;
        top: -8rem;
        left: 9rem;
    }
    .cont-csr-items img:nth-child(3) {
        width: 15rem;
        height: 10rem;
        position: absolute;
        top: 0rem;
        left: 2rem;
    }
}
@media only screen and (max-width:465px) {
    .background{
        height: 35rem;
    }
    .cont-about-1{
        width: 100%;
    }
    #cont-2-1 {
        left: -10rem;
    height: 9rem;
    width: 10rem;
    }

    #cont-2-2 {
        top: 7rem;
        width: 10rem;
        height: 9rem;
        left: -5rem;
    }

    #cont-2-3 {
        width: 9rem;
    height: 9rem;
    top: -2rem;
    bottom: 0rem;
    right: 0rem;
    left: 1rem;
    }

    .cont-3-items {
        width: auto;
        font-size: 1rem;
        margin: 1rem 1rem;
    }

    .container-6 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .text {
        margin: 2rem 0rem;
    }

    .text h1 {
        font-size: 1.8rem;
    }

    .text p {
        font-size: 1.1rem;
    }

    .cont-6-items img:nth-child(1) {
        width: 10rem;
        height: 9rem;
        left: 10px;
        right: 0;
        top: -37px;
        bottom: 0;
    }

    .cont-6-items img:nth-child(2) {
        width: 10rem;
        height: 12rem;
        left: 165px;
        top: -59px;
        bottom: 0px;
    }

    .cont-6-items img:nth-child(3) {
        width: 14rem;
        height: 10rem;
        left: 45px;
        right: 0px;
        top: 105px;
        bottom: 0px;
    }

    .cont-7 {
        width: auto;
    }

    .cont-7 p {
        font-size: 1.1rem;
    }

}
@media only screen and (max-width:390px){
    #cont-csr-relative{
        margin-top: 15rem;
        margin-bottom: 15rem;
        margin-left: -18vw;
    }
    .cont-csr-items{
        width: 90%;
    }
    .cont-csr-items img:nth-child(1) {
        width: 10rem;
        height: 10.5rem;
        position: absolute;
        bottom: -5rem;
        left: -1rem;
    }
    .cont-csr-items img:nth-child(2) {
        width: 12rem;
        height: 11rem;
        position: absolute;
        top: -8rem;
        left: 9rem;
    }
    .cont-csr-items img:nth-child(3) {
        width: 14rem;
        height: 10rem;
        position: absolute;
        top: 0rem;
        left: 2rem;
    }
}